name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  env:
    name: Test env
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Set up Conda env
        uses: mamba-org/setup-micromamba@8752438cc2755ab7d0de2a8d70b694f5586baae8
        with:
          environment-file: environment.yml
          environment-name: test-env
